
.map-container {
    height: 80vh;
}


.rowbutton {
    appearance: none;
    /*background-color: #2ea44f;*/
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    margin: 1px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 70px;
}

.active_row {
    background-color: #2ea44f;
}
.inactive_row{
    background-color: #B07D6EFF;
}
.rowbutton_active {
    background-color: #2ea44f;
}
.rowbutton_inactive {
    background-color: #b26748;
}

/*.rowbutton:focus:not(:focus-visible):not(.focus-visible) {*/
/*    box-shadow: none;*/
/*    outline: none;*/
/*}*/

/*.rowbutton:hover {*/
/*    background-color: #2c974b;*/
/*}*/

/*.rowbutton:focus {*/
/*    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;*/
/*    outline: none;*/
/*}*/

#graphbutton {
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 1000;
    appearance: none;
    /*background-color: #2ea44f;*/

    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #312929;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    margin: 1px;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
#graphContainer {
    position: absolute;
    display: none;
    top: 10%;
    left: 10%;
    /*width: 50%;*/
    /*height: 640px;*/
    /*width: 840px;*/
    z-index: 1000;
    padding: 20px;
    border: 3px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    background: white;
}

.display-table tr td {
    padding: 2px;
    font-size: 8pt;
}

.display-table th {
    padding: 2px;
    font-size: 10pt;
}
.col-6 {
    padding: 0px;
}

.col-lg-6 {
    padding: 0px;
}

.pane {
    background: #89e0e7;
    border: 3px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
    box-shadow: 5px 5px 5px #67a6ab;
    /*height: 95%*/
}

.spacer {
    margin: 5px;
}

.mapboxgl-popup {
}

.mapboxgl-popup table {
    border-radius: 10px;
    border: 3px solid #2b7dc0;
}
.mapboxgl-popup-content {
    border-radius: 10px;
}
.popup-td {
    font-weight: bold;
    font-size: 12pt;
}

.card-dashboard {
    /*border: 3px solid rgba(27, 31, 35, .15);*/
    border-radius: 6px;
    /*padding: 5px;*/
    margin-bottom: 5px;
    background: #65acb2;
}

.card-dashboard h4 {
    margin: 5px;
}

.fwl-navbar {
    background-color: #65ACB2FF;
    border: 3px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

.nwslegend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    /*top: 10px;*/
    /*height: 150px;*/
    /*margin-bottom: 40px;*/
    width: 120px;
    z-index: 99;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
/*.bubble {*/
/*    border-radius: 6px;*/
/*    !*width: 20px;*!*/
/*    !*height: 20px;*!*/
/*    !*background: #2ea44f;*!*/
/*    border: 3px solid #2b7dc0;*/
/*    margin: 2px;*/
/*    padding-left: 5px;*/
/*}*/