fastapi
sqlalchemy
geoalchemy2[shapely]
gunicorn
uvicorn
pg8000
# scikit-learn
# pyproj
jinja2
requests
numpy
python-jose[cryptography]
fief-client[fastapi]
cloud-sql-python-connector[pg8000]
# pandas
# openpyxl
# uncertainties
# jsbeautifier
# plotly


