fastapi
fastapi-users[sqlalchemy]
sqlalchemy
geoalchemy2[shapely]
gunicorn
uvicorn
psycopg
# scikit-learn
# pyproj
jinja2
requests
numpy
python-jose[cryptography]
# pandas
# openpyxl
# uncertainties
# jsbeautifier
# plotly


